@tailwind components;
@tailwind utilities;

.list-request-loan{

    padding-left: 0;

    li {
        @apply shadow border py-4 px-6 rounded mb-2 inline-block;

        ._label{
            @apply font-bold mr-5;
        }

        ._label-data{

        }
    }
}

.card.standing-order{
    .row{
        @apply my-4;
    }
}

footer.footer {
    padding: 10px 0px;
}

@font-face{
    font-family:"CharlieSans";
    src:url("/fonts/charlie_sans/Charlie_Display-Regular.woff");
    font-style:normal;
    font-weight:400
}

@font-face{
    font-family:"CharlieSans";
    src:url("/fonts/charlie_sans/Charlie_Display-Black.woff");
    font-style:normal;
    font-weight:700
}

@font-face{
    font-family:"CharlieSans";
    src:url("/fonts/charlie_sans/Charlie_Display-Semibold.woff");
    font-style:normal;
    font-weight:500
}

@font-face{
    font-family:"CharlieSans";
    src:url("/fonts/charlie_sans/Charlie_Display-Bold.woff");
    font-weight:800;
    font-style:normal
}

body {
    font-family: "CharlieSans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}


$track-color: #eceff1 !default;
$thumb-color: #607d8b !default;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
    cursor: default;
    height: $track-height;
    transition: all .2s ease;
    width: $track-width;
}

@mixin thumb($adjustment: 0) {
    @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
    background: $thumb-color;
    border: $thumb-border-width solid $thumb-border-color;
    border-radius: $thumb-radius;
    cursor: default;
    height: $thumb-height + $adjustment;
    width: $thumb-width + $adjustment;
}

@mixin disabled {
    cursor: not-allowed;
}

[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: $thumb-height / 2 0;
    width: $track-width;

    &::-moz-focus-outer {
        border: 0;
    }

    &:focus {
        outline: 0;

        &::-webkit-slider-runnable-track {
            background: lighten($track-color, $contrast);
        }

        &::-ms-fill-lower {
            background: $track-color;
        }

        &::-ms-fill-upper {
            background: lighten($track-color, $contrast);
        }
    }

    &::-webkit-slider-runnable-track {
        @include track;
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
    }

    &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
    }

    &::-moz-range-track {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        @include track;
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
        height: $track-height / 2;
    }

    &::-moz-range-thumb {
        @include thumb(-4);
    }

    &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($thumb-height / 2) 0;
        color: transparent;
    }

    &::-ms-fill-lower {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $ie-bottom-track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: ($track-radius * 2);
    }

    &::-ms-fill-upper {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: ($track-radius * 2);
    }

    &::-ms-thumb {
        @include thumb(-4);
        margin-top: $track-height / 4;
    }

    &:disabled {
        &::-webkit-slider-thumb {
            @include disabled;
        }

        &::-moz-range-thumb {
            @include disabled;
        }

        &::-ms-thumb {
            @include disabled;
        }

        &::-webkit-slider-runnable-track {
            @include disabled;
        }

        &::-ms-fill-lower {
            @include disabled;
        }

        &::-ms-fill-upper {
            @include disabled;
        }
    }
}
