<template>
    <div>
        <div class="card" v-loading="loading" :element-loading-text="loading_text">
            <div class="card-header">
                <h3 class="card-title">Request for Loan</h3>
            </div>
            <div class="card-body">

                <div class="row mb-5">
                    <div class="container __el_steps">
                        <el-steps :active="active" finish-status="success">
                            <el-step title="Loan Info"></el-step>
                            <el-step title="Personal Info"></el-step>
                            <el-step title="Confirmation"></el-step>
                        </el-steps>
                    </div>
                </div>

                <div class="step__1" v-if="steps.one.show">
                    <form class="my-4">
                        <div class="form-group">
                            <label class="form-label">Amount</label>
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="range" class="form-control custom-range" step="10000" min="20000"
                                           max="250000" v-model="loan_amount" :class="{'is-invalid': errors.amount}">
                                </div>
                                <div class="col-auto">
                                    <vue-numeric currency="N" separator="," v-model="loan_amount"
                                                 class="form-control w-9"></vue-numeric>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Tenor</label>
                            <select class="form-control custom-select" v-model="loan_tenor"
                                    :class="{'is-invalid': errors.amount}">
                                <option value="1">1 Month</option>
                                <option value="2">2 Months</option>
                                <option value="3">3 Months</option>
                                <option value="4">4 Months</option>
                                <option value="5">5 Months</option>
                                <option value="6">6 Months</option>
                            </select>
                        </div>
                        <div class="repayment_box my-6">
                            <h5>Repayment</h5>
                            <table class="table card-table">
                                <tbody>
                                <tr>
                                    <td>Loan Amount</td>
                                    <td class="text-right">
                                        {{ loan_amount | money_format }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Loan Tenor</td>
                                    <td class="text-right">
                                        {{ loan_tenor }} Month(s)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monthly Repayment</td>
                                    <td class="text-right">
                                        {{ repayment_amount | money_format }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-footer">
                            <button class="btn btn-primary btn-block" :disabled="loan_amount <= 0"
                                    @click.prevent="postStepI">Continue
                            </button>
                        </div>
                    </form>
                </div>

                <div class="step__2" v-if="steps.two.show">
                    <form class="my-4">
                        <fieldset class="form-fieldset">
                            <div class="form-group">
                                <label class="form-label">BVN<span class="form-required">*</span></label>
                                <input type="text" class="form-control" v-model="bvn" @keypress="isNumber($event)"
                                       maxlength="11" :class="{'is-invalid': errors.bvn}">

                                <span class="invalid-feedback" role="alert" v-if="errors.bvn">
                                    <strong>{{ errors.bvn[0] }}</strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email<span class="form-required">*</span></label>
                                <input type="text" class="form-control" v-model="email" :class="{'is-invalid': errors.email}">

                                <span class="invalid-feedback" role="alert" v-if="errors.email">
                                    <strong>{{ errors.email[0] }}</strong>
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Password<span class="form-required">*</span></label>
                                        <input type="password" class="form-control" v-model="password" :class="{'is-invalid': errors.password}">

                                        <span class="invalid-feedback" role="alert" v-if="errors.password">
                                            <strong>{{ errors.password[0] }}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="form-label">Confirm Password<span
                                            class="form-required">*</span></label>
                                        <input type="password" class="form-control" v-model="password_confirmation">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <label class="form-label">Phone number</label>
                                <input type="tel" class="form-control">
                            </div>
                        </fieldset>

                        <div class="form-footer">
                            <button class="btn btn-primary btn-block"
                                    :disabled="!bvn || !email || !password || !password_confirmation"
                                    @click.prevent="postStepII">Continue
                            </button>
                            <a href="#" class="m-2 inline-block" v-if="steps.two.show"
                               @click.prevent="back(steps.two, steps.one)">back</a>
                        </div>
                    </form>
                </div>

                <div class="step__3" v-if="steps.three.show">

                    <div class="alert alert-primary mt-5" role="alert">
                        Please enter the OTP sent to your mobile number {{ scrambled_mobile }}
                    </div>

                    <fieldset class="form-fieldset">

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" class="form-control otp-field" maxlength="1"
                                           ref="box_1" @keyup="doTab($event, 'box_2', 'OTP.O1')" v-model="OTP.O1" @keypress="isNumber">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" class="form-control otp-field" maxlength="1"
                                           ref="box_2" @keyup="doTab($event, 'box_3', 'OTP.O2')" v-model="OTP.O2" @keypress="isNumber">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" class="form-control otp-field" maxlength="1"
                                           ref="box_3" @keyup="doTab($event, 'box_4', 'OTP.O3')" v-model="OTP.O3" @keypress="isNumber">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="text" class="form-control otp-field" maxlength="1"
                                           ref="box_4" v-model="OTP.O4" @keypress="isNumber" @keyup="autoSubmitOtp">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-icon alert-danger" role="alert" v-if="errors.otp" style="display:block">
                                    <span> <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{ errors.otp[0] }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="hover:no-underline" @click.prevent="resendOtp">
                                    <i class="fe fe-repeat"></i>
                                    Resend OTP
                                </a>
                            </div>
                        </div>

                        <div class="form-footer">
                            <button class="btn btn-primary btn-block" @click.prevent="submitOtp">Continue</button>
                        </div>
                    </fieldset>
                </div>

                <div class="step__4" v-if="steps.four.show">

                    <div class="alert alert-icon alert-primary" role="alert">
                        <ul class="list-none ml-0 pl-0 step-alert">
                            <li class="mb-1"><i class="fe fe-server mr-2" aria-hidden="true"></i> Your <strong>BVN</strong> has been successfully verified.</li>
                            <li class="mb-1"><i class="fe fe-user mr-2" aria-hidden="true"></i> Your <strong>{{ app_name }}</strong> online account has been created.</li>
                            <li class="mb-1"><i class="fe fe-book-open mr-2" aria-hidden="true"></i> Your <strong>Loan Request</strong> has been submitted.</li>
                            <li class="mb-1"><i class="fe fe-mail mr-2" aria-hidden="true"></i> You will receive an offer via email and/or SMS once a decision is made.</li>
                        </ul>
                    </div>
                    <div class="row justify-content-center my-6">
                        <div class="col-8">
                            <div class="btn-list text-center">
                                <a href="/user/home" class="btn btn-primary">Continue to account</a>
                                <a href="/" class="btn btn-secondary">Continue later</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InstantLoan",
        data() {
            return {
                loan_amount: 100000, loan_tenor: 1, bvn: '', email: '', password: '', password_confirmation: '',
                mobile: '', scrambled_mobile: '',
                active: 0,
                steps: {
                    one: {show: false, active: 0},
                    two: {show: false, active: 1},
                    three: {show: false, active: 2},
                    four: {show: false, active: 3}
                },
                OTP: {
                    O1: '', O2: '', O3: '', O4: ''
                },
                loading: false,
                loading_text: '',
                errors: {},
                errorMsg: {},
                app_name: '',
            }
        },
        computed: {
            repayment_amount() {
                return this.emi(7 / 100, this.loan_tenor, this.loan_amount)
            }
        },
        methods: {
            postStepI() {
                this.startLoading();
                this.emptyErrors();
                this.emptyErrorMsg();
                axios.post('/api/v1/start-loan-request', {
                    amount: this.loan_amount, tenor: this.loan_tenor
                }).then(res => {
                    //got to next stage
                    this.stopLoading();
                    this.nextStep(this.steps.two, this.steps.one);
                })
                    .catch(err => {
                        this.makeErrors(err);
                        this.stopLoading();
                    })
            },
            postStepII() {
                this.startLoading();
                this.emptyErrors();
                this.emptyErrorMsg();
                axios.post('/api/v1/start-loan-request-II', {
                    bvn: this.bvn, email: this.email, password: this.password,
                    password_confirmation: this.password_confirmation,
                })
                    .then(res => {
                        this.stopLoading();
                        this.nextStep(this.steps.three, this.steps.two);
                        this.scrambled_mobile = res.data.scrambled_mobile;
                    })
                    .catch(err => {
                        this.makeErrors(err);
                        this.stopLoading();
                    })
            },
            resendOtp() {
                this.startLoading();
                this.emptyErrors();
                this.emptyErrorMsg();
                axios.post('/api/v1/start-loan-resend-otp', {bvn: this.bvn})
                    .then(res => {
                        this.stopLoading();
                    })
                    .catch(err => {
                        this.makeErrors(err);
                        this.stopLoading();
                    })
            },
            submitOtp() {
                this.startLoading('Checking OTP...');
                let $otp = `${this.OTP.O1}${this.OTP.O2}${this.OTP.O3}${this.OTP.O4}`;
                axios.post('/api/v1/start-loan-submit-otp', {otp: $otp, bvn: this.bvn})
                    .then(res => {
                        this.stopLoading();
                        this.finish();
                    })
                    .catch(err => {
                        this.makeErrors(err);
                        this.stopLoading();
                    })
            },
            autoSubmitOtp(){
                if ( this.OTP.O1 && this.OTP.O2 && this.OTP.O3 && this.OTP.O4 ){
                    return this.submitOtp();
                }
            },
            finish(){
                this.startLoading('Creating user account...');
                axios.post('/api/v1/start-loan-finish', {bvn:this.bvn, email:this.email, password: this.password, loan_amount: this.loan_amount, loan_tenor: this.loan_tenor})
                    .then(res => {
                        this.stopLoading();
                        this.nextStep(this.steps.four, this.steps.three);
                    })
                    .catch(err => {
                        this.stopLoading();
                        this.$message.error("Unknown error occurred. Refresh and try again");
                    })
            },
            doTab(e, $toBoxRef, $sourceModel){
                if ( e.keyCode == 8 || e.keyCode == 9 || e.keyCode == 16 ) {
                    return false;
                }
                let $from = $sourceModel.split('.');

                if (this[$from[0]][$from[1]].length == 1) {
                    this.$refs[$toBoxRef].focus();
                }
            },
            isNumber(e){
                let evt = (e) ? e : window.event;
                let charCode = (evt.which) ? evt.which : evt.keyCode;
                if ( (charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46 ) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            makeErrors(err) {
                if (err.response) {
                    if (err.response.data.errors)
                        this.errors = err.response.data.errors;
                    if (err.response.data.message){
                        this.errorMsg = err.response.data.message;
                        this.$message.error(this.errorMsg);
                    }
                } else if (err.request) {
                    this.$message.error('No request was received.');
                } else {
                    this.$message.error(`An error occurred: ${err.message}`);
                }
            },
            emptyErrors() {
                this.errors = {};
            },
            emptyErrorMsg() {
                this.errorMsg = '';
            },
            nextStep($next, $present) {
                $present.show = false;
                $next.show = true;
                this.active = $next.active;
            },
            start() {
                this.steps.one.show = true;
                this.active = this.steps.one.active;
            },
            handleStepOne() {
                this.active = 1;
                this.steps.one.show = false;
                this.steps.two.show = true;
            },
            back($present, $previous) {
                $present.show = false;
                this.active = $previous.active;
                $previous.show = true;
            },
            isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                    ;
                } else {
                    return true;
                }
            },
            emi(rate, nper, pv, fv = 0, type = 0) {
                if (!fv) fv = 0;
                if (!type) type = 0;
                if (rate == 0) return -(pv + fv) / nper;
                let pvif = Math.pow(1 + rate, nper);
                let pmt = rate / (pvif - 1) * (pv * pvif + fv); //- (pv * pvif + fv)
                if (type == 1) {
                    pmt /= (1 + rate);
                }
                return pmt;
            },
            startLoading($loadingText=null) {
                this.loading = true;
                this.loading_text = $loadingText;
            },
            stopLoading() {
                this.loading = false;
            }
        },
        mounted() {
            this.start(); //step 1
            //this.nextStep(this.steps.two, this.steps.one); //step 2
            //this.nextStep(this.steps.three, this.steps.two); //step 3
            //this.nextStep(this.steps.four, this.steps.three); //step 4
            this.app_name = process.env.MIX_APP_NAME;
        }
    }
</script>

<style type="scss">

    .step__3 .otp-field {
        height: 70px;
        width: 70px;
        font-size: 3em;
        text-align: center;
    }

    .step__2 .form-fieldset,
    .step__3 .form-fieldset {
        background: none;
        border: none;
    }

    .__el_steps .el-step__title.is-process {
        color: #2779bd;
        font-weight: 500;
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        margin: 13.8px 0;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 33px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #3174ad;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 4.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 33px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 4.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #2f6ea5;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    input[type=range]::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 33px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        height: 8.4px;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #3071a9;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #3174ad;
    }

</style>
