<template>
    <div>
        <div class="nav-item d-none d-md-flex">
            <a href="#" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">Request for Loan</a>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Request for a Loan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">

                        <form class="my-4">
                            <div class="form-group">
                                <label class="form-label">Amount</label>
                                <div class="row align-items-center">
                                    <div class="col">
                                        <input type="range" class="form-control custom-range" step="10000" min="20000"
                                               max="250000" v-model="loan_amount" :class="{'is-invalid': errors.amount}">
                                    </div>
                                    <div class="col-auto">
                                        <vue-numeric currency="N" separator="," v-model="loan_amount"
                                                     class="form-control w-9"></vue-numeric>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Tenor</label>
                                <select class="form-control custom-select" v-model="loan_tenor"
                                        :class="{'is-invalid': errors.amount}">
                                    <option value="1">1 Month</option>
                                    <option value="2">2 Months</option>
                                    <option value="3">3 Months</option>
                                    <option value="4">4 Months</option>
                                    <option value="5">5 Months</option>
                                    <option value="6">6 Months</option>
                                </select>
                            </div>
                            <div class="repayment_box my-6">
                                <h5>Repayment</h5>
                                <table class="table card-table">
                                    <tbody>
                                    <tr>
                                        <td>Loan Amount</td>
                                        <td class="text-right">
                                            {{ loan_amount | money_format }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Loan Tenor</td>
                                        <td class="text-right">
                                            {{ loan_tenor }} Month(s)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Monthly Repayment</td>
                                        <td class="text-right">
                                            {{ repayment_amount | money_format }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-footer">
                                <button class="btn btn-primary btn-block" :disabled="loan_amount <= 0"
                                        @click.prevent="">Continue
                                </button>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoanRequest",
        data(){
            return {
                loan_amount: 100000,
                errors: {},
                errorMsg: {},
                loan_tenor: 4
            }
        },
        computed: {
            repayment_amount() {
                return this.emi(7 / 100, this.loan_tenor, this.loan_amount)
            }
        },
        methods:{
            emi(rate, nper, pv, fv = 0, type = 0) {
                if (!fv) fv = 0;
                if (!type) type = 0;
                if (rate == 0) return -(pv + fv) / nper;
                let pvif = Math.pow(1 + rate, nper);
                let pmt = rate / (pvif - 1) * (pv * pvif + fv); //- (pv * pvif + fv)
                if (type == 1) {
                    pmt /= (1 + rate);
                }
                return pmt;
            },
        }
    }
</script>

<style scoped>

</style>
