<template>
    <div>
        <span class="status-icon" :class="statusIcon"></span> {{ statusText }}
    </div>
</template>

<script>
    export default {
        name: "LoanRequestStatus",
        props: ["status"],
        data() {
            return {
                statusText: '',
                statusIcon: '',
            }
        },
        mounted() {
            switch (this.status) {
                case 0:
                    this.statusText = 'pending';
                    this.statusIcon = 'bg-warning';
                    break;
                case 1:
                    this.statusText = 'on-hold';
                    this.statusIcon = 'bg-warning';
                    break;
                case 2:
                    this.statusText = 'processing';
                    this.statusIcon = 'bg-secondary';
                    break;
                case 3:
                    this.statusText = 'rejected';
                    this.statusIcon = 'bg-danger';
                    break;
                case 4:
                    this.statusText = 'processed';
                    this.statusIcon = 'bg-success';
                    break;
                case 5:
                    this.statusText = 'withdrawn';
                    this.statusIcon = 'bg-danger';
                    break;
                default:
                    this.statusText = 'pending';
                    this.statusIcon = 'bg-warning';
                    break;
            }
        }
    }
</script>

<style scoped>

</style>
