<template>
    <div class="card" v-loading="loading">
        <div class="card-header">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Phone Number" v-model="phone">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" @click="makeCall">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <ul class="list-group card-list-group">
            <li class="list-group-item py-5">
                <div class="alert" v-if="Object.keys(response).length" :class="{'alert-danger': !response.hasData, 'alert-success': response.hasData}">{{ response.responseMsg }}</div>
            </li>
            <li class="list-group-item py-5" v-if="Object.keys(response).length && response.data">
                <table class="table card-table table-striped table-vcenter">
                    <tr>
                        <td>Customer Name</td>
                        <td>{{response.data.customerName}}</td>
                    </tr>
                    <tr>
                        <td>Company Name</td>
                        <td>{{ response.data.companyName }}</td>
                    </tr>
                    <tr>
                        <td>Customer ID</td>
                        <td>{{ response.data.customerId }}</td>
                    </tr>
                    <tr>
                        <td>Account Number | Bank Code</td>
                        <td>{{ response.data.accountNumber }} | {{ response.data.bankCode }}</td>
                    </tr>
                    <tr>
                        <td>First Payment Date</td>
                        <td>{{ response.data.firstPaymentDate }}</td>
                    </tr>
                    <tr>
                        <td>Salary Count</td>
                        <td>{{ response.data.salaryCount }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5>Salary details</h5>
                            <div class="alert alert-info">
                                <ul>
                                    <li v-for="sal in response.data.salaryPaymentDetails">
                                        {{ sal.amount }} | {{ sal.paymentDate }}
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5>Existing Loan details</h5>
                            <div class="alert alert-info">
                                <ul>
                                    <li v-for="loan in response.data.loanHistoryDetails">
                                        Status: {{ loan.status }}, Repayment Frequency: {{loan.repaymentFreq}},
                                        Repayment Amount: {{loan.repaymentAmount}}, OutStanding Amount: {{loan.outstandingAmount}},
                                        provider: {{loan.provider}}, Date disbursed: {{loan.loanDisbursementDate}},
                                        Loan Amount: {{loan.loanAmount}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "RemitaSalaryHistory",
        data(){
            return {
                phone: '',
                response: {},
                loading: false,
            }
        },
        methods:{
            makeCall(){
                this.startLoading();

                if (this.phone == '' || this.phone.length < 11 || this.phone.length > 11){

                    this.$notify.error({
                        title: 'Error',
                        message: 'Phone Number invalid'
                    });
                    this.stopLoading();
                    return false;
                }

                axios.post('/api/v1/remita/salary-history', { phoneNumber: this.phone })
                    .then( res => {
                        console.log(res.data);
                        this.response = res.data.response;
                        this.stopLoading();
                    })
                    .catch( err => {
                        console.log(err.response)
                        this.stopLoading();
                    } )
            },
            startLoading(){
                this.loading = true;
            },
            stopLoading(){
                this.loading = false;
            }
        },
        mounted(){

        }
    }
</script>

<style scoped>

</style>
