<template>
    <div class="card standing-order">
        <div class="card-header font-medium text-lg">
            Standing Order in favor of QuickFund MFB.
        </div>

        <div class="card-body" v-loading="loading" :element-loading-text="loading_msg">

            <div class="holder col-md-8 col-12 justify-content-center">

                <div class="row">
                    <div class="form-group col-12">
                        <label class="form-label">
                            Beneficiary <span class="form-required">*</span>
                        </label>
                        <input name="beneficiary" type="text" class="form-control"
                               value="QuickFund Microfinance Bank" readonly v-model="data.beneficiary">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label class="form-label">
                            Purpose <span class="form-required">*</span>
                        </label>
                        <input name="purpose" type="text" class="form-control" value="Salary Loan" readonly v-model="data.purpose">
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-6">
                        <label class="form-label">
                            Payment Type <span class="form-required">*</span>
                        </label>
                        <select class="custom-select" :class="{'is-invalid': errors.payment_type}" v-model="data.payment_type">
                            <option value="">Select One</option>
                            <option value="direct_debit">Direct Debit</option>
                            <option value="standing_order">Standing Order</option>
                        </select>
                    </div>

                    <div class="form-group col-6">
                        <label class="form-label">
                            Payment Frequency <span class="form-required">*</span>
                        </label>
                        <select class="custom-select" :class="{'is-invalid': errors.payment_frequency}" v-model="data.payment_frequency" @blur="setEndDate">
                            <option value="">Select One</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label class="form-label">
                            Amount <span class="form-required">*</span>
                        </label>
                        <vue-numeric currency="₦" separator="," v-model="data.amount" :precision="2" class="form-control" :class="{'is-invalid': errors.amount}"></vue-numeric>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 col-md-4">
                        <label class="form-label">
                            Start Date <span class="form-required">*</span>
                        </label>
                        <el-date-picker type="date" placeholder="Pick a day" v-model="data.start_date" :class="{'is-error':errors.start_date}" value-format="yyyy-MM-dd" @blur="setEndDate">

                        </el-date-picker>
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label class="form-label">
                            No of Debits <span class="form-required">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="No. of Debits" v-model="data.no_of_debit" :class="{'is-invalid':errors.no_of_debit}" @blur="setEndDate">
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label class="form-label">
                            End Date <span class="form-required">*</span>
                        </label>
                        <el-date-picker type="date" placeholder="Pick a day" v-model="data.end_date" :class="{'is-error':errors.end_date}" @blur="setEndDate">
                        </el-date-picker>
                    </div>
                </div>

                <div class="form-label block text-blue-500">Clients Details</div>

                <div class="row">

                    <div class="form-group col-12 col-md-6">
                        <label class="form-label">
                            Payer Name <span class="form-required">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="Payer's Name" v-model="data.payers_name" :class="{'is-invalid':errors.payers_name}">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label class="form-label">
                            Payer Phone <span class="form-required">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="Payer's Phone Number" v-model="data.payers_phone" :class="{'is-invalid':errors.payers_phone}">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label class="form-label">
                            Payer Email <span class="form-required">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="Payer's Email" v-model="data.payers_email" :class="{'is-invalid':errors.payers_email}">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label class="form-label">
                            Confirm Payer Email <span class="form-required">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="Confirm Payer's Email" v-model="data.payers_email_confirmation"
                               :class="{'is-invalid':errors.payers_email_confirmation}">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 col-md-12">
                        <label class="form-label">
                            Funding Source<span class="form-required">*</span>
                        </label>

                        <select class="custom-select">
                            <option value="card">Card</option>
                        </select>

                        <div class="alert alert-important alert-icon alert-primary mt-4" role="alert">
                            <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
                            Your card will be charged a non-refundable fee of N50. This charge will be used to
                            get authorization for your card for future charges.
                        </div>

                        <div class="alert alert-primary alert-important mt-4">
                            <span class="font-bold">Payment Amount: ₦ {{ debit_amount | money_format }}</span> <br>

                            <span class="font-bold" v-show="total_amount > 100">Total Amount: ₦ {{ total_amount | money_format }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="card-footer text-left">
            <div class="d-flex">
                <a href="javascript:void(0)" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-primary ml-auto" @click.prevent="submit">Continue</button>
            </div>
        </div>
    </div>
</template>

<script>

    import moment from 'moment';


    export default {
        name: "StandingOrder",
        data(){
            return {
                data: {
                    beneficiary: 'QuickFund Microfinance Bank', purpose: 'Salary Loan I',
                    payment_type: '', payment_frequency: '', amount: '', start_date: '', no_of_debit: '',
                    end_date: '', payers_name: '', payers_phone: '', payers_email: '', funding_source: "card",
                    payers_email_confirmation: ''
                },
                loading: false,
                loading_msg: '',
                errors: {},
                errorMsg: "",
            }
        },
        computed: {
            debit_amount(){
                return Math.abs(this.data.amount);
            },
            total_amount(){
                return ((this.data.amount * 0.015) + 100) + Math.abs(this.data.amount)
            }
        },
        methods: {
            submit(){
                this.startLoading();
                this.clearErrors();
                axios.post('/api/v1/standing-order/store', {
                    beneficiary: this.data.beneficiary, purpose: this.data.purpose,
                    payment_type: this.data.payment_type, payment_frequency: this.data.payment_frequency,
                    amount: this.data.amount, start_date: this.data.start_date, no_of_debit: this.data.no_of_debit,
                    end_date: this.data.end_date, payers_name: this.data.payers_name, payers_phone: this.data.payers_phone,
                    payers_email: this.data.payers_email, payers_email_confirmation: this.data.payers_email_confirmation,
                    funding_source: this.data.funding_source, total_amount: this.total_amount,
                })
                    .then(res => {
                        console.log(res.data);
                        this.stopLoading();

                        this.startLoading("Redirecting to Payment page in 2secs...")
                        window.setTimeout(window.location.replace(res.data.authorization_url), 2000);

                    })
                    .catch(err => {
                        // The request was made and the server responded with a status code
                        this.stopLoading();
                        if (err.response) {
                            this.errors = err.response.data.errors;
                            this.errorMsg = err.response.data.message;
                        } else if (err.request) {
                            console.log(err.request);
                        } else {
                            console.log('Error', err.message);
                        }
                    })
            },
            clearErrors($field){
                this.errors = {};
            },
            setEndDate(){
                if (this.data.payment_frequency == ""){
                    this.$message.error("Please choose a Payment frequency");
                    return;
                }
                if (this.data.no_of_debit && this.data.start_date){
                    if ( this.data.payment_frequency == 'monthly' ){
                        this.data.end_date = moment(this.data.start_date).add(this.data.no_of_debit - 1, 'M').format('YYYY-MM-DD');
                    }
                    if ( this.data.payment_frequency == 'weekly' ){
                        this.data.end_date = moment(this.data.start_date).add(this.data.no_of_debit - 1, 'w').format('YYYY-MM-DD');
                    }
                    if ( this.data.payment_frequency == 'daily' ){
                        this.data.end_date = moment(this.data.start_date).add(this.data.no_of_debit - 1, 'd').format('YYYY-MM-DD');
                    }
                }
            },
            startLoading($message=null){
                this.loading=true;
                this.loading_msg = $message;
            },
            stopLoading(){
                this.loading=false;
            }
        },
        mounted(){

        }
    }
</script>

<style scoped>
.is-error{
    border-radius: 6px;
    border: 1px solid #cd201f;
    border-color: #cd201f;
    padding-right: calc(1.6em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23cd201f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23cd201f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.4em + 0.1875rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);

}
</style>
